
<!--      <fa-icon (click)="followPost()" class="upvote" [icon]="faArrowUp" [style.color]="user.followed ? 'green':''">-->
<!--      </fa-icon>-->

<!--{{user.id}}&nbsp;&nbsp;Post&nbsp;&nbsp;{{user.followerCount}}&nbsp;&nbsp;Following&nbsp;&nbsp;{{user.followedCount}}&nbsp;&nbsp;Followes&nbsp;&nbsp;-->
<!--<button (click)="followPost()" *ngIf="!user.followed"  class="btn btn-primary">follow  </button>-->
<!--<button (click)="followPost()" *ngIf="user.followed" class="btn btn-primary">followed</button>-->


<button (click)="followPost()" *ngIf="!user.followed"  class="btn btn-primary">follow  </button>
<button (click)="followPost()" *ngIf="user.followed" class="btn btn-primary">followed</button>
