<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="flex-grow-1" *ngIf="isLoggedIn">
            <a aria-label="Home" class="logo" routerLink="/home">
              &nbsp;
              &nbsp;

              <span class="emagazine-text">
                    e-Magazine
              </span>
            </a>
        </div>
      <div class="flex-grow-1" *ngIf="!isLoggedIn">
        <a aria-label="Home" class="logo" routerLink="/">
          &nbsp;
          &nbsp;

          <span class="emagazine-text">
                    e-Magazine
              </span>
        </a>
      </div>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;

      <div class="flex-grow-1 float-right">
        <div *ngIf="isLoggedIn" >
          <a routerLink="/sponsor" class="emagazine-text">Sponsor </a>&nbsp;
          <a routerLink="/post" class="emagazine-text"> Post </a>&nbsp;
          <a routerLink="/myprofile" class="float-right sign-up mr-2">Profile</a>
          <a (click)="logout()" class="float-right login mr-2">out</a>
        </div>
        <div *ngIf="!isLoggedIn">
          <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
          <a routerLink="/login" class="float-right login mr-2">Login</a>
        </div>
      </div>
    </nav>
</header>
