<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <form  [formGroup]="registerForm" (ngSubmit)="register()"  >
                        <div class="form-group row">
                          <label for="firstName" class="col-md-4 col-form-label text-md-right">firstName</label>
                          <div class="col-md-6">
                           <input type="text"   id="firstName" [formControlName]="'firstName'"  class="form-control" name="email-address" required
                                 autofocus>

                         </div>
                        </div>
                      <div class="form-group row">
                        <label for="lastName" class="col-md-4 col-form-label text-md-right">lastName</label>
                        <div class="col-md-6">
                          <input type="text"   id="lastName" [formControlName]="'lastName'"  class="form-control" name="email-address" required
                                 autofocus>
                        </div>
                      </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail
                                Address</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'email'"  id="email" class="form-control" name="email-address" required
                                    autofocus>

                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'password'"  id="password" class="form-control" name="password" required>

                            </div>
                        </div>
                      <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Profile İmage</label>
                        <div class="col-md-6">
                          <input
                            [formControlName]="'file'"
                            id="file"
                            type="file"
                            class="form-control"
                            (change)="onFileChange($event)">
                          <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                            <div *ngIf="f.file.errors.required">File is required.</div>
                          </div>

                        </div>
                      </div>



                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">
                                Sign Up
                            </button>
                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
